
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Exel Raporları Sayfası</h1>
<br />
<a href="/Exel/StaticExcelReport/" class="btn btn-outline-info">Static Exel Raporları</a>
<br /><br />
<a href="/Exel/DestinationExelReport/" class="btn btn-outline-primary">Tur Rotaları Exel Raporları</a>

